@media screen and (min-width: 700px) {
    .items {
        width: 95%;
    }

}

@media screen and (min-width: 1000px) {
    section.items {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-content: center;
        grid-gap: 1em;
        flex-wrap: wrap;
        width: 80%;
        flex-grow: 4;
        justify-content: space-between;
        font-size: 2.3vw;
    }

    button.buy,
    button.sell {
        width: 5vw;
        margin: 1.5% auto;
        padding: 2%;
        font-size: 2vh;
        align-content: center;

    }

    div.itemLineContainer {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .125fr;
        row-gap: 15px;
        min-height: 200px;
        height: max-content;
        width: 100%;
        margin: auto;
        padding: 3%;
        flex-basis: 17%;
        justify-content: center;
        overflow-wrap: break-word;
        background: rgb(216, 255, 152);
        border-radius: 25px;
        align-content: center;
    }

    div.itemLine {
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 14%;
        align-self: baseline;
        width: auto;
        height: max-content;
        overflow-wrap: break-word;
        justify-items: center;
    }

    div.itemButtons {
        display: inline-flex;
        height: fit-content;
    }

    div.itemName {
        max-width: 200px;
        overflow-wrap: break-word;
        width: 18vw;
    }

    div.right,
    div.left {
        display: inline-grid;
        padding: 0;
        width: 2em;
        max-width: 200px;
        background: rgb(216, 255, 152);
        float: none;
        justify-content: center;
        white-space: normal;
        overflow-wrap: break-word;

    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('/fonts/bebasneue-regular-webfont.woff2') format('woff2'),
        url('/fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
    margin: 0;
    font-family: 'bebas_neueregular', Arial, sans-serif;
}


div {
    height: 1em;
}

h1 {
    text-align: center;
}


.container {
    display: block;
    margin: auto;
    text-align: center;
}

.mainSection {
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
}


.itemLineContainer {
    display: inline-grid;
    grid-template-columns: 1.5fr .5fr;
    width: 100%;
    padding: 2% 0 2%;
}

.itemLine {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    animation-duration: 2s;
    animation-name: slideIn;
}

.itemName {
    width: auto;
    height: auto;
    text-align: center;
}

.modalInfoContainer {
    height: auto;
    margin: auto;
    padding: 2%;
}

.right {
    display: inline-grid;
    padding: 3px 0.5em;
    background: #fff;
    float: right;
    justify-content: end;
}

.left {
    display: inline-grid;
    font-size: auto;
    background: #fff;
    padding: 3px;
    height: auto;
    float: left;
    clear: both;
    justify-content: start;
    white-space: nowrap;
}

.gameButtons,
.items {
    margin: auto;
    padding: 2%;
    text-align: center;
    font-size: 5vw;
    font-family: 'bebas_neueregular', Arial, sans-serif;
    font-style: normal;

}


h2 {
    margin: 0;
}


.playerInfo {
    background: rgb(216, 255, 152);
    display: flex;
    font-size: 4vw;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3%;
    text-align: center;
    font-family: 'bebas_neueregular', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
}



.itemButtons {
    display: inline-grid;
    grid-template-columns: .5fr .5fr;
    padding: 1px 0.5em;
    grid-column-gap: 4%;
}

.hidden {
    display: none;
}

.itemInfo {
    background-color: rgba(0, 112, 19, 0.9);
    margin: auto;
    padding: 5%;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px black;
    width: 80%;
    display: block;
    height: auto;
    text-align: center;
    color: white;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}

@-webkit-keyframes modal-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.playerItems {
    width: 10vw;
    margin: 1%;
}



.buy,
.sell {
    width: 15vw;
    margin: 1.5% auto;
    padding: 2%;
    font-size: 4vw;
    color: white;
    border: none;
    background-color: darkgreen;
    font-family: 'bebas_neueregular', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    box-shadow: 1px 1px 3px black;
}

.loan,
.move {
    margin: 0;
    padding: 0 10%;
    height: 4em;
    border: none;
    text-shadow: 1px 1px 3px black;
}

button.cancel,
button.ok,
button.incrButton,
button.decrButton,
button.finishGame {
    width: 25vw;
    margin: 1.5%;
    padding: 2%;
    font-size: 4vw;
    color: white;
    border: none;
    background-color: darkgreen;
    font-family: 'bebas_neueregular', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    box-shadow: 1px 1px 3px black;
}


.gameContainer {
    margin-top: 0;
    z-index: 0;

}

button.move {
    width: 15vw;
    margin: 1.5%;
    padding: 2%;
    font-size: 4vw;
    color: white;
    border: none;
    background-color: darkgreen;
    font-family: 'bebas_neueregular', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    box-shadow: 1px 1px 3px black;
}

.gameContainerBlurred {
    margin-top: 0;
    z-index: -1;
    filter: blur(1.5rem);
    position: absolute;
    width: 100%;
}



.counterWindow,
.counterButtons {
    display: inline-block;
    width: 50%;
    margin: auto;
    height: 100px;

}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 5vw;
}

.counterInfo {
    height: auto;
    justify-content: center;
}